<template>
	<div>
		<h3>All Users</h3>
		<ul>
			<li v-for="user in users.data" :key="user.id">
				ID: {{ user.id }} | Name: {{ user.name }}
				<router-link :to="{ name: 'UserDetail', params: {id: user.id} }">Detail</router-link>
			</li>
		</ul>
		<div>
			<h3>Data Even</h3>
			<ul>
				<li v-for="user in dataUsers" :key="user.id">
					ID: {{ user.id }} | Name: {{ user.name }}
				</li>
			</ul>
		</div>
		<button @click="deleteRandom()">Delete Random</button>
		<router-view></router-view>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapState('users', {users: 'items'}),
    ...mapGetters('users', {dataUsers: 'doneUsers'})
  },

  created () {
    this.$store.dispatch('users/getAllUsers')
  },

  methods: {
    ...mapActions('users', {randomDelete: 'randomDelete'}),

		deleteRandom() {
      const users = this.users.data
      const value = this.getRandomInt(users.length - 1)
      this.randomDelete(value)
		},

    getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
	}
}
</script>